<div class="input-form">
    <%= form_tag("/posts/#{@post.id}/update") do %>
        <input type="text" name="title" value="<%= @title %>" placeholder="new_title"><br>
        <input type="submit" value="保存">
    <% end %>
    <% if @error_message %>
        <%= @error_message %><br>
    <% end %>
</div>